{include file="common/common_head"/}
<script src="/static/home/js/main01.js"></script>
</head>

<body>
<div class="ms_top">
  <div class="ms_top_fl">
    <h3>内蒙古都林教育</h3>
    <div class="ms_top_flner">
      <ul>
        <li><a href="/" target="_blank">首&nbsp;&nbsp;&nbsp;&nbsp;页</a></li>
        <li><a href="{:url('course/course_list')}?classType_id=0&classSmallType_id=0&teaching_type=0" target="_blank">发现课程</a></li>
        <li><a href="{:url('course/bao_list')}?classType_id=0"  target="_blank">课程包</a></li>
        <li><a href="{:url('teacher/list')}"  target="_blank">名师专区 </a></li>
      </ul>
    </div>
  </div>
  <div class="ms_top_fr">
    <!--<div class="searchdiv flright">
      <input type="text" class="search" value="请输入搜索内容"/>
      <input type="button" class="sousuo button" value="GO"/>
    </div>-->
    <div class="dlss">
      <ul>
        <li><a href="{:url('user/login')}" target="_blank">登录</a></li>
        <li><a href="{:url('user/login')}" target="_blank">注册</a></li>
      </ul>
    </div>
  </div>
</div>
<div class="newsbaner"></div>
<div class="newsymxq">
  <div class="new_bxq">
    <div class="new_nerbtxq"> <a href="/" class="new_btxq">首页</a> <span class="new_bt1xq"> ></span><a href="{:url('article_list')}?article_type=<?=$_GET['article_type']?>" class="new_btxq">新闻资讯</a> <span class="new_bt1xq"> ></span>  <a href="#" class="new_bt2xq">新闻详情</a> </div>
    <div class="essay-tuijian-news"> </div>
	  
	  
	  <div class="xinwenxq_con"><p>{$info.title}</p>
	  <div class="xinwenxq_con_sj">{$info.create_time|date="Y-m-d H:i"}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;作者：内蒙古杜林教育 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;阅读：{$info.show_num}</div>
	  
	  <div class="xinwenxq_con_dy">{$info.introduction}</div>
		  <div class="xinwenxq_con_zw">
            <?=$info['content']?>
          </div>
	  </div><div class="xinwenxq_cony">

    {volist name="tui_list" id="val"}
        <div class="xinwenxq_confr">
            <div class="xinwenxq_confr_tu"><a href="{:url('article/info')}?id={$val.id}" target="_blank"><img src="{$admin_path}{$val.cover_pic}" style="height: 180;width: 200px;" alt="内蒙古都林教育"/></a></div>
            <h1><a href="{:url('article/info')}?id={$val.id}" target="_blank">{$val.title}</a></h1>
            <p><a href="{:url('article/info')}?id={$val.id}" target="_blank">{$val.small_title}</a></p>
            <h2><a href="{:url('article/info')}?id={$val.id}" target="_blank">￥{$val.price}元</a></h2>
        </div>
    {/volist}
	

</div></div>
{include file="common/common_bottom"/}

</body>
</html>
