{include file="common/common_head"/}
<script src="/static/home/js/main01.js"></script>
<!-- 分页样式 -->
<link rel="stylesheet" href="/static/common/css/page.css" />
</head>

<body>
<!-- 导航 -->
{include file="common/common_navhead"/}

<div class="msbaner"></div>
<div class="zh-teacher-pagewrap">
  <div class="teach-bannerwrap">
    <div class="top">
      <ul class="clearfix">
        <li class="active"><a href="#">全部名师</a></li>
        <li class=""><a href="#">综合</a></li>
        <li class=""><a href="#">人气</a></li>
		  <li class=""><a href="#">好评</a></li>
      </ul>
    </div>
  </div>
  <div class="zh-teacher-page">
    <div class="teacher-list-con">
      <div class="bott clearfix">
        {notempty name="list"}
            {volist name="list" id="val"}
                <div class="clearfix teacher-list" style="">
                  <div class="teachimg"> <a href="{:url('teacher/info')}?id={$val.id}" target="_blank"> <img src="{$admin_path}{$val.head_img}" /> </a> </div>
                  <div class="teachdes">
                    <h3> <a href="#" target="_blank">{$val.name}</a> </h3>
                    <p>.....................................................</p>
                    <p class="tea-intro">{$val.introduction}</p>
                    <a href="{:url('teacher/info')}?id={$val.id}" target="_blank" class="checkdetail_btn">查看详情</a> </div>
                </div>
            {/volist}
        {/notempty}
      </div>
      <div class="course-filter-page">{$list|raw}</div>
    </div>
  </div>
  <div style="height:30px;"></div>
</div>
{include file="common/common_bottom"/}

</body>
</html>