<!DOCTYPE html>
<html>
<head>
<meta charset="gb2312" />
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="Keywords" content="内蒙古《都林教育》培训班是2016年成立的专业蒙古语培训机构。">
<meta name="Description" content="《都林教育》的主营业务涵盖了公务员、事业单位（各盟市）、政法干警考试、司法考试等各类职业人才的招录考试、笔试及面试培训，是一家综合性的职业教育培训机构。">
<title>内蒙古《都林教育》</title>
<meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
<link rel="stylesheet" type="text/css" href="/static/home/css/index/index.css" />
<link rel="icon" href="/static/home/img/index/ico.jpg" type="image/x-icon"/>
<link rel="shortcut icon" href="/static/home/img/index/ico.jpg" type="image/x-icon" media="screen"/>
<script src="/static/home/js/main01.js"></script>
</head>

<body>
<!-- 导航 -->
{include file="common/common_navhead"/}

<div style="width: 1920px;
	margin: 0 auto; height:280px; background-image:url(/static/home/img/gsjj.jpg);  padding-top: 20px;"></div>
<div class="newsymxq">
  <div class="new_bxq">
    <div class="new_nerbtxq"> <a href="/" class="new_btxq">首页</a> <span class="new_bt1xq"> ></span> <a href="#" class="new_bt2xq">公司简介</a> </div>
    <div class="essay-tuijian-news"> </div>
	  
	  
	  <div class="xinwenxq_con"><p>内蒙古《都林教育》培训班简介</p>
	  
	 
		  <div class="xinwenxq_con_zw" style="line-height: 40px;">
			  &nbsp; &nbsp;内蒙古《都林教育》培训班是2016年成立的专业蒙古语培训机构。《都林教育》的主营业务涵盖了公务员、事业单位（各盟市）、政法干警考试、司法考试等各类职业人才的招录考试、笔试及面试培训，是一家综合性的职业教育培训机构。《都林教育》拥有强大的师资力量，对主讲教师择优选聘，多位教师在教育领域有卓越的成绩。</br> &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;《都林教育》秉承“为每一位蒙古族考生，提供学习和就业的帮助”为使命，始终以学员的需求为核心，以质量求生存，致力于为学员提供一流的教育服务平台；以质量求保障，以成绩为目标，致力于为学员实现公职梦想。</br>
 &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;全国统一法律职业资格考试培训班是内蒙古《都林教育》培训班的主要特色之一，是内蒙古自治区专业化、规范化的司法考试培训班。都林教育针对2017年国家司法考试蒙语培训（现全国统一法律职业资格考试）在内蒙古财经大学开课，为学员提供学校宿舍，统一办理一卡通，使学员在安静舒适方便的环境下学习。培训总授课人数118人，其中有4人因特殊原因缺考；拿A本的有5位，C本65位，通过人数70人，首次开班通过率高达61%以上！为蒙语司法考试通过率创新高！2018年参加全国统一法律职业资格考试培训的学员有68人，其中顺利通过考试的有57人，通过率高达83%。自成立以来，我们首创法考蒙语培训界新高，获得了骄人的成绩。通过《都林教育》法考培训取得证书的学员在人民法院、检察院及律师事务所等不同岗位就职。</br>
 &nbsp; &nbsp; &nbsp; &nbsp;愿《都林教育》帮助学员，在公职道路上一展雄风，早日实现公职梦想！</br>
    </div>
	  </div><div class="xinwenxq_cony">
		  
		  

</div></div>
<div class="foot">
  <div class="foot_ner">
    <div class="foot_ner_fl">
      <h3>内蒙古都林教育</h3>
      <p>咨询热线：15004710660 / 15248038134</br>
        Copyright@ 内蒙古都林教育咨询有限公司　版权所有</br>
        蒙ICP备18001175号-1</p>
    </div>
    <div class="foot_ner_fr"><img src="/static/home/img/ewm.jpg" height="165px" width="165px" alt="内蒙古都林教育"/>
      <div>
        <P>扫一扫关注公众号</br>
          更多精彩 尽在其中</P>
        <h3>15248038134</h3>
      </div>
    </div>
  </div>
</div>
</body>
</html>
