{include file="common/common_head"/}
	
<!--新加js-->	<!--新加js-->	<!--新加js-->	<!--新加js-->
<!-- <script src="js/jquery-1.11.0.js"></script> -->
<script src="/static/home/js/index/jquery.SuperSlide.2.1.1.js"></script>
<script src="/static/home/js/index/waypoints.min.js"></script>
<script src="/static/home/js/index/main.js">//主要逻辑代码</script>
<!--新加js-->	<!--新加js-->	<!--新加js-->	<!--新加js-->
<script type="text/javascript">

$(function(){
    function tabs(tabTit,on,tabCon){
        $(tabTit).children().hover(function(){
            $(this).addClass(on).siblings().removeClass(on);
            var index = $(tabTit).children().index(this);
           	$(tabCon).children().eq(index).show().siblings().hide();
    	});
	};
    tabs(".tab-hd","active",".tab-bd");
});
	
</script>
</head>

<body>
<div class="logo_bg">
  <div class="logo">
    <div class="logo_fl"><img src="/static/home/img/index/logo.jpg"  alt="都林教育"/></div>
    <div class="logo_fr">
      <div class="logo_frsh"><img src="/static/home/img/index/tel.jpg"  alt="都林教育"/></div>
      <div class="logo_frxi">
        <table align="center" cellspacing="0" border="0" >
          <!-- <tr>
            <td style="position: relative;"><input id="text" type="text" placeholder="搜索">
              <input type="button" value="Go">
              <div id="word"></div></td>
          </tr> -->
        </table>
      </div>
      <div class="logo_dh">
        <ul>
          <Li><a target="_blank" href="/">都林教育&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;  /</a> </Li>
          <Li><a target="_blank" href="{:url('course/course_list')}?classType_id=0&classSmallType_id=0&teaching_type=0">发现课程&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;  /</a> </Li>
          <Li><a target="_blank" href="{:url('course/bao_list')}?classType_id=0"> 课程包 &nbsp;&nbsp;&nbsp; &nbsp;&nbsp; /</a> </Li>
          <Li><a target="_blank" href="{:url('teacher/list')}">名师专区</a> </Li>
        </ul>
      </div>
    </div>
  </div>
</div>
	<!--新加div-->	<!--新加div-->	<!--新加div-->	<!--新加div-->	<!--新加div-->	<!--新加div-->	<!--新加div-->	<!--新加div-->	<!--新加div-->	<!--新加div-->	<!--新加div-->
<div class="dhtsz">
	
	
		
  <div class="nav">
    <ul>
      <li id="m1" class="m on" style="background:#ff6600;height: 46px; border-radius: 5px;  margin-top: 20px;"> <a href="qbkc.html" class="aa1 mmm" id="sel">全部课程</a> </li>
      <li id="m6" class="m" style="height: 46px;  margin-top: 20px;" > <a href="#" class="aa6 mmm">法考专项课程</a>
        <div class="sub">
          <div class="nav_xiao">
            <div class="xiao_six">
              <ul>
                <li class="bgs1">
                    <div class="xiao_six_con">
                        <h2 class="xiao_six_l">学科小类名称</h2>
                        {volist name="small_type_list1" id="val"}
                            <a href="{:url('course/course_list')}?classType_id=1&classSmallType_id={$val.id}&teaching_type=0">{$val.title}&nbsp;&nbsp;</a>
                        {/volist}
                    </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li id="m6" class="m" style="height: 46px;  margin-top: 20px;" > <a href="#" class="aa6 mmm">法考专项课程</a>
        <div class="sub">
          <div class="nav_xiao">
            <div class="xiao_six">
              <ul>
                <li class="bgs1">
                    <div class="xiao_six_con">
                        <h2 class="xiao_six_l">学科小类名称</h2>
                        {volist name="small_type_list2" id="val"}
                            <a href="{:url('course/course_list')}?classType_id=2&classSmallType_id={$val.id}&teaching_type=0">{$val.title}&nbsp;&nbsp;</a>
                        {/volist}
                    </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
      <li id="m6" class="m" style="height: 46px;  margin-top: 20px;" > <a href="#" class="aa6 mmm">法考专项课程</a>
        <div class="sub">
          <div class="nav_xiao">
            <div class="xiao_six">
              <ul>
                <li class="bgs1">
                    <div class="xiao_six_con">
                        <h2 class="xiao_six_l">学科小类名称</h2>
                        {volist name="small_type_list3" id="val"}
                            <a href="{:url('course/course_list')}?classType_id=3&classSmallType_id={$val.id}&teaching_type=0">{$val.title}&nbsp;&nbsp;</a>
                        {/volist}
                    </div>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
    {empty name="uid"}
        <div class="dao_lf"><a href="/home/user/login" target="_blank">登录</a>&nbsp;&nbsp;&nbsp;&nbsp;<a href="/home/user/login" target="_blank">注册</a></div>
    {else /}
        <div style="padding-top: 30px;   "><a  style="color:#fff;  font-size:16px; " href="{:url('my/index')}">都林学员_{$uid}</a>&nbsp;&nbsp;<a   style="color:#fff;  font-size:16px;"  href="{:url('user/login_out')}">注销</a></div>
    {/empty}
</div>
	
	
	<!--新加div-->	<!--新加div-->	<!--新加div-->	<!--新加div-->	<!--新加div-->	<!--新加div-->	<!--新加div-->	<!--新加div-->	
	
<div class="example">
  <div class="ft-carousel" id="carousel_1">
    <ul class="carousel-inner">
      <li class="carousel-item"><img src="/static/home/img/index/a1.jpg" alt="都林教育" /></li>
      <li class="carousel-item"><img src="/static/home/img/index/a2.jpg" alt="都林教育" /></li>
      <li class="carousel-item"><img src="/static/home/img/index/a3.jpg" alt="都林教育" /></li>
    </ul>
  </div>
</div>
<script src="js/ft-carousel.min.js"></script> 
<script type="text/javascript">
	$("#carousel_1").FtCarousel();

</script>
	<!--注意这里去掉了一个js 否则导航js实现不了 你自己测试一下就好--> 
<div class="kcsz" style="padding-bottom: 20px;">
  <h2>推荐课程</h2>
  <div class="kcsz_bt">公务员、事业单位（各盟市) 、政法干警考试、司法考试等各类职业人才的招录考试、笔试及面试培训</div>
	
	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->
  <div class="wrapper">
    <button class="active">全部课程</button>
    {volist name="list" id="val"}
        <button data-id="{$val.id}">{$val.title}</button>
    {/volist}
    <div class="content" style="display: block;">
      <div class="kcsz_ner">
        <ul>
            {volist name="course_list" id="val"}
            <a href="{:url('course/info')}?id={$val.id}" target="_blank">
                <li>
                    <img src="{$val.pic}" alt="内蒙古都林教育"/>
                    <h3>{$val.title}</h3>
                    <div>
                      <div class="kcsz_ner_fr">{$val.cang}</div>
                      <div class="kcsz_ner_righ">￥{$val.price}元</div>
                    </div>
                </li>
            </a>
            {/volist}
        </ul>
      </div>
    </div>
    <div class="content">
        <div class="kcsz_ner">
            <ul>
                {volist name="course_list" id="val"}
                    {eq name="val.class_type_id" value="1"}
                        <a href="{:url('course/info')}?id={$val.id}" target="_blank">
                            <li>
                                <img src="{$val.pic}" alt="内蒙古都林教育"/>
                                <h3>{$val.title}</h3>
                                <p>{$val.describe}</p>
                                <div>
                                  <div class="kcsz_ner_fr">{$val.cang}</div>
                                  <div class="kcsz_ner_righ">￥{$val.price}元</div>
                                </div>
                            </li>
                        </a>
                    {/eq}
                {/volist}
            </ul>
        </div>
    </div>
    <div class="content">
      <div class="kcsz_ner">
        <ul>
            {volist name="course_list" id="val"}
                {eq name="val.class_type_id" value="2"}
                    <a href="{:url('course/info')}?id={$val.id}" target="_blank">
                        <li><img src="{$val.pic}" alt="内蒙古都林教育"/>
                        <h3>{$val.title}</h3>
                        <p>{$val.describe}</p>
                        <div>
                          <div class="kcsz_ner_fr">{$val.cang}</div>
                          <div class="kcsz_ner_righ">￥{$val.price}元</div>
                        </div>
                        </li>
                    </a>
                {/eq}
            {/volist}
        </ul>
      </div>
    </div>
    <div class="content">
      <div class="kcsz_ner">
        <ul>
            {volist name="course_list" id="val"}
                {eq name="val.class_type_id" value="3"}
                    <a href="{:url('course/info')}?id={$val.id}" target="_blank">
                        <li>
                            <img src="{$val.pic}" alt="内蒙古都林教育"/>
                            <h3>{$val.title}</h3>
                            <p>{$val.describe}</p>
                            <div>
                              <div class="kcsz_ner_fr">{$val.cang}</div>
                              <div class="kcsz_ner_righ">￥{$val.price}元</div>
                            </div>
                        </li>
                    </a>
                {/eq}
            {/volist}
        </ul>
      </div>
    </div>
  </div>
  <script type="text/javascript">
			// 将按钮和盒子拿出来
			var btn = document.getElementsByTagName('button');
			var div = document.getElementsByClassName('content');
			// 每一个button上面绑定事件
			for(var n = 0; n < btn.length; n++) {
				//生成闭包的立即函数
				(function(i) {
					btn[n].onclick = function() {
						for(var m = 0; m < btn.length; m++) {
							btn[m].className = ""; //清空效果
							div[m].style.display = "none";
						}
						//当前点击的button设置变化
						this.className = "active";
						div[i].style.display = "block";
					}
				}(n))
			}
		</script>
	
	
	
		<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->	<!--课程修改-->
  <div class="kcsz_zx"><a href="{:url('course/course_list')}?classType_id=0&classSmallType_id=0&teaching_type=0" target="_blank">更多课程</a></div>
</div>

<div class="kcb_bg" >
  <h3>课程包</h3>
  {notempty name="package_list"}
      {volist name="package_list" id="val"}
          <p><a style="color:#fff" href="{:url('course/bao_info')}?id={$val.id}" target="_blank">{$val.title}</a></p>
          <div  class="kcb_bgner">
              <div class="kcb_bgner_fl" style="margin-left:20px; "><img src="{$admin_path}{$val.pic}" style="height: 200px;width: 200px;" alt="都林教育"/></div>
              <div class="kcb_bgner_fr">
                  <p>{$classType_list[$val.class_type_id]['title']}有效天数：{$val.day}天        打包价格：<span>￥{$val.price}</span><s>{$val.old_price}</s></p>
                  <h3>{$val.describe}</h3>
                  <div class="kcb_bgan_fl"> <a href="{:url('pay/index')}?package_id={$val.id}">我要购买</a></div>
                  <div class="kcb_bgan_fr"> <a href="{:url('course/bao_info')}?id={$val.id}">课程详情</a></div>
              </div>
          </div>  
      {/volist}
  {/notempty}
</div>
<div class="news">
  <h2>新闻资讯</h2>
  <div class="news_ner">
        <div class="news_nerfl"><img src="/static/home/img/index/new.jpg" height="404px" width="467px" alt="都林教育"/></div>
        <div class="news_nerfr">
            <ul>
                {notempty name="article_list"}
                    {volist name="article_list" id="val"}
                        <li>
                            <h3><a href="{:url('article/info')}?id={$val.id}" target="_blank">{$val.title}</a></h3>
                            <p><a href="{:url('article/info')}?id={$val.id}" target="_blank">{$val.introduction}</a></p>
                        </li>
                    {/volist}
                {/notempty}
            </ul>
        </div>
    </div>
</div>
{include file="common/common_bottom"/}
</body>
</html>
