@charset "utf-8";
/* CSS Document */
ol, ul, li {
    list-style: none;
    list-style-type: none;
}
img {width: 100%;}
body {background: #f7f7f7;}
.zhifu_1{width: 1200px; margin: auto; height: 267px; background: #ffffff; margin-top: 20px; margin-bottom: 20px;padding: 30px;}
.zhifu_1 h1{width:100%; margin: auto; text-align: left; font-size: 24px;color: #333; border-bottom: 1px solid #999; height: 50px; }
.zhifu_1_fl {width:300px; height:169px; float: left; margin-top: 20px;}
.zhifu_1_fl img {width: 100%;}
.zhifu_1_fr {width:850px; height:169px; float: right; margin-top: 20px; }
.zhifu_1_fr h3{width:100%; margin: auto; text-align: left; font-size: 20px;color: #333; margin-top: 10px; margin-bottom: 20px;}
.zhifu_1_fr p {font-size: 18px;color: #666; line-height: 35px;height: 35px; }
.zhifu_1_fr p span{font-size:22px;color: #f60; font-weight: bold;}
.zhifu_2{width: 1200px; margin: auto; height:365px; background: #ffffff; margin-top: 20px; margin-bottom: 20px;padding: 30px; overflow: hidden;}
.buy_pay_way {
    background: #fff;
    padding: 20px 30px 50px;
    margin-bottom: 20px;
}
.address_tips {
    font-size: 18px;
    color: #000;
    margin-bottom: 30px;
}
.zhifubao_and_weixin {
    margin-bottom: 50px;
}
.zhifubao_and_weixin ul li {
    float: left;
    width: 180px;
    height: 60px;
    border: 1px solid #dcdcdc;
    margin-right: 30px;
	padding: 20px 0px 0px 10px;
}
.zhifubao_and_weixin ul li img {width: 80%; margin: auto;}
.zhifubao_and_weixin ul li.active {
    border-color: #f60;
}
.pay_money {
    float: right;
}
.pay_money .pay_money_tit {
    font-size: 20px;
    color: #000;
    margin-bottom: 26px;
}
    .buy_pay_way{
        padding-bottom:500px!important;
    }
.pay_money .pay_money_tit {
    font-size: 20px;
    color: #000;
    margin-bottom: 26px;
}.pay_money .go_btn {
    width: 250px;
    height: 63px;
    background: #f60;
    font-size: 24px;
    color: #fff;
    text-align: center;
    line-height: 63px;
    border-radius: 5px;
    display: block;
}
.weixin_pay{  background: #fff;}