{include file="common/common_head"/}
<link rel="stylesheet" href="/static/home/css/course/class.css">
<script src="/static/home/js/main01.js"></script>
</head>

<body>

<!-- 导航 -->
{include file="common/common_navhead"/}
	


<div class="qbkcxqybaner"></div>	
	
	
<script>
	var bu = 'fakao';
	var env = 'production';
	var userId = '';
	var mobile = '';
</script>

<div class="zh-public-course-wrap">
	<div class="zh-public-course">
	<div class="course-nav-box">
		<div class="courses-filtrate-nav course-filter-nav">
	        <a href="/" class="courses-filtrate-nav-home course-filter-nav-index">首页</a>
	        <span class="courses-filtrate-arrow">&gt;</span>
	        <a href="{:url('course/course_list')}?classType_id=0&classSmallType_id=0&teaching_type=0" class="courses-filtrate-nav-course course-filter-nav-index">全部课程</a>
	        <span class="courses-filtrate-arrow">&gt;</span>
	        <a href="{:url('course/course_list')}?classType_id={$info.class_type_id}&classSmallType_id=0&teaching_type=0" class="courses-filtrate-nav-cur course-filter-curr">{$classType_list[$info.class_type_id]['title']}</a>
	    </div>
	</div>
	<div class="zh-class-page">
	<div class="course-content-box top clear">
		<div class="course-content-img-box class-img">
			<img src="{$info.pic}" alt="内蒙古都林教育">
			
			<a href="#" class="course-play-btn" target="_blank">
			
				<!-- <i class="bofang-btn"><img src="/static/home/img/course/bofangicon.png" height="63" width="63" alt="" /></i> -->
			</a>
			
		</div>
		<div class="course-c-info class-detail">
			<h3 class="course-c-title">{$info.title}</h3>
			<p class="price" style="background:none;padding:0;"><span class="course-c-label" >￥{$info.price}元</span></p>
			<p class="jiangshi course-jiangshi">
				<span class="course-c-label">
				讲师:&nbsp;
				
				<a href="/#" class="course-detail-teacher">  {$teacher_info.name}</a>
				
				</span>
			</p>
            
			<p class="keshi">课时:<span class="course-c-label">&nbsp;{$count}节</span></p>
            
			<p class="bofang">参与人数:<span class="course-c-label">&nbsp;{$info.buy_num}人</span></p>
			<div class="buy-btn">
				<ul>
					<!-- 如果价钱为0，直接跳转到视频页面 -->
					{if $info.price==0}
						<li class="active">
							<a href="{:url('video')}?course_id={$info.id}&user_id={$uid}" style="color: #fff;" class="course-c-btn gotoStudyBtn" target="_blank">开始学习</a>
						</li>
					{elseif $is_lock==1 /}
					<!-- 如果当前课程针对当前用户是解锁的，跳转到视频页面 -->
						<li class="active">
							<a href="{:url('video')}?course_id={$info.id}&user_id={$uid}" style="color: #fff;" class="course-c-btn gotoStudyBtn" target="_blank">开始学习</a>
						</li>
					{else /}
					<!-- 价格不为0，当前用户也没解锁，跳转到支付页面 -->
						<li class="active">
							<a href="{:url('pay/index')}?course_id={$info.id}&user_id={$uid}" style="color: #fff;" class="course-c-btn gotoStudyBtn" target="_blank">开始学习</a>
						</li>
					{/if}

				</ul>
			</div>
		</div>
	</div>
	<div class="course-detail-box zh-course-detail-page clearfix">
		<div class="course-detail-box-l right fl">
			<div class="course-detail-box-header top-tit clearfix">
				<div class="course-detail-bottom-line">
					<div class="top-left fl">
						<ul class="clearfix">
							<li id="courseDetailTab" class="course-detail-nav course-detail-nav-selected "><a href="#courseDetailBox">课程介绍</a></li>
							
							<li id="courseDirTab" class="course-detail-nav"><a href="#courseDirBox">课程目录</a></li>
							<li id="courseRecommTab" class="course-detail-nav"><a href="#courserecommbox">相关推荐</a></li>
							
						</ul>
					</div>
				</div>
			</div>
            <div id="courseDetailBox" class="zhh-editor" >
				<div class="opencourse-tabcon-1">
					<span class="ic_courseintro"><img src="/static/home/img/course/courseintro.png" alt="" width="39"></span>
					<span class="con-tit-1">课程介绍</span>
				</div>
				<h2 style="text-align: center; margin-bottom: 10px;">{$info.title}</h2>
				<div>
					<?=$info['introduction']?>
				</div>
			</div>
			
            <ul id="courseDirBox">
				<div class="opencourse-tabcon-1">
					<span class="ic_courseintro"><img src="/static/home/img/course/coursemulu.png" alt="" width="34"></span>
					<span class="con-tit-1">课程目录</span>
				</div>
            	{notempty name="course_list"}
            		{volist name="course_list" id="val"}
						<!-- 章节 begin -->
		            	<li class="course-lesson-dir-box">
		            		<div class="course-lesson-dir">
		            			<span class="course-lesson-icon course-lesson-unfold"></span>
		            			<span class="course-lesson-dir-title">{$val.z_title[0]}</span>
		            		</div>
		            		<div class="course-lesson-box">
		            			<!-- 圆 begin -->
			            		<ul class="course-lesson-left">
			            			{notempty name="val.children"}
				            			{volist name="val.children" id="val2"}
				            				<li>
				            					<div class="course-lesson-item-line-circle" style="">
				            						<div class="course-lesson-item-circle"></div>
				            					</div>	
				            				</li>
				            			{/volist}
			            			{/notempty}
			            		</ul>
		            			<!-- 圆 end -->
		            			<!-- 部分标题 begin -->
			            		<ul class="course-lesson-right">
			            			{notempty name="val.children"}
										{volist name="val.children" id="val2"}
					            			<li class="course-lesson-item">
					            				<div title="{$val2.b_title}" class="course-lesson-title">{$val2.b_title}</div>
                                              	<!-- 如果价钱为0，直接跳转到视频页面 -->
												{if $info.price==0}
                                              	<a href="{:url('video')}?bufen_id={$val2.id}" class="course-lesson-btn" target="_blank">立即播放</a>
                                              	{elseif $is_lock==1 /}
                                              	<a href="{:url('video')}?bufen_id={$val2.id}" class="course-lesson-btn" target="_blank">立即播放</a>
												<!-- 如果当前课程针对当前用户是解锁的，跳转到视频页面 -->
                                              	{else /}
                                              	<a href="{:url('pay/index')}?course_id={$info.id}&user_id={$uid}" class="course-lesson-btn" target="_blank">立即播放</a>
												<!-- 价格不为0，当前用户也没解锁，跳转到支付页面 -->
                                              	{/if}
					            				<!--<div class="course-lesson-duration">
													<span class="ic_lesson-duration"><img src="/static/home/img/course/ic_time_1.png" alt="" width="13"></span>
													00:00:54
												</div>-->
					            			</li>
				            			{/volist}
			            			{/notempty}
			            		</ul>
		            			<!-- 部分标题 end -->
		            		</div>
		            	</li>
						<!-- 章节 end -->
            		{/volist}
            	{/notempty}
            </ul>
			
			
			<div id="courserecommbox">
                
				<div class="opencourse-tabcon-1">
					<span class="ic_courseintro"><img src="/static/home/img/course/tuijainkecheng.png" alt="" width="36"></span>
					<span class="con-tit-1">相关推荐</span>
				</div>

				<div class="course-recomm-inner" style="margin-bottom: 10px;">
					<ul style="margin-bottom: 0;" class="clearfix">

						{notempty name="tui_course_list"}
							{volist name="tui_course_list" id="val"}
								<li style="">
									<a href="{:url('course/info')}?id={$val.id}" target="_blank">
										<div>
											<div class="course-side-img">
												<img src="{$admin_path}{$val.pic}" />
											</div>
										</div>
										<div class="course-side-free">
											<div class="course-side-book-title">{$val.title}</div>
		                                    <span>￥{$val.price}元</span>
										</div>
									</a>
								</li>
							{/volist}
						{/notempty}
					</ul>
				</div>
                
			</div>
		</div>
		<div class="course-detail-box-r left fr">
	<div class="course-side-box">
	
		<ul>
			<li>
				<a href="{:url('teacher/info')}?id={$teacher_info.id}" target="_blank">
					<div class="teacher-img clearfix course-side-imgwrap">
						<span class="icon-line"></span>
						<div class="course-side-teacher-img ">
							<img src="{$admin_path}{$teacher_info.head_img}" />
						</div>
						<div class="teacher-des-wrap">
							<h3 class="course-side-teacher">{$teacher_info['name']}</h3>
						</div>
					</div>
					<div class="zhh-editor course-side-teacher-desc teacher-des" style="font-size: 16px; line-height: 30px; color: #333;"><?=$val['introduction']?></div>
					<a href="{:url('teacher/info')}?id={$teacher_info.id}" target="_blank" class="free_listen_btn">我要在听老师课程</a>
				</a>
			</li>
			
		</ul>
	</div>
</div>
	</div>
	</div>
	</div>
</div>
	{include file="common/common_bottom"/}
</body>
</html>
